/* Tablets e Desktops Pequenos */

@media (max-width:1250px){
    main .about-me-story-left{
        max-width: 620px;
    }

    main .about-me-story-right img{
        width: 450px;
        height: 290px;
    }
}